@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://img.freepik.com/foto-gratis/vista-superior-accesorios-mascotas_23-2150930456.jpg);
}

.container{
    margin: auto;
    max-width: 600px;
}

.title h1{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 900;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 15px;
    box-shadow: 0 5px 10px 2px rgb(0,0,0);
    padding: 7px;
}

.title p{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
    color: #fff;    
}

.row_form{
    margin:14px;
    width: 100%;
    display: flex;
}

.button_form{
    margin-top: 15px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 19px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #9c9c9c;
    width: 96%;
    background-color: #fff;
}

.button_form:hover{
    box-shadow: 0px 0px 10px 10px #000000;
    transition: all ease-in-out .5s;
}
